/*ListDetail*/
.ldl-wrap {
    height:2.1rem;display:flex;margin-left:0.2rem;margin-bottom:-0.01rem;border-bottom:0.01rem solid #e3e4e8;position:relative
}
.ldl-circle {
    width:0.35rem;height:0.35rem;border:0.01rem solid #d1d4d7;border-radius:0.5rem;margin-left:0.04rem;margin-top:0.75rem;margin-right:0.3rem
}
.ldl-pic {
    width:1.6rem;height:1.6rem;margin:0.18rem;margin-left:0
}
.ldl-txt-w {
    width:5rem;margin-top:0.2rem;margin-left:0.1rem
}
.ldl-txt1 {
    font-size:0.24rem;color:#999898
}
.ldl-txt2 {
    font-size:0.27rem;color:#65c4aa;font-weight:700
}
.ldl-num-w {
    position:absolute;right:0.1rem;bottom:0.1rem
}
.ldl-num {
    padding-left:0.1rem;padding-right:0.1rem;color:#65c4aa
}
/*CartList*/
.clt-wrap {
    width:7.5rem;overflow:auto;position:relative;font-size:0.28rem
}
.clt-s-w {
    height:0.8rem;width:7.5rem;background-color:#f3f4f5;border-left:0.02rem solid #d6d3d3;display:flex;align-items:center;text-align:center;vertical-align:center
}
.clt-circle {
    width:0.35rem;height:0.35rem;border:0.01rem solid #d1d4d7;border-radius:0.5rem;margin-left:0.2rem
}
.clt-title-s {
    padding-left:0.15rem
}
.clt-editor {
    font-size:0.26rem;position:absolute;right:0.2rem;top:0.2rem
}
.clt-pay-w {
    width:7.5rem;height:0.94rem;position:fixed;bottom:1.5rem;display:flex;align-items:center;font-size: 0.26rem;
}
.clt-txt-w {
    position:absolute;top:0.26rem
}
.clt-txt1 {
    padding-left:0.08rem
}
.clt-txt2 {
    padding-left:1.3rem
}
.clt-txt3 {
    color:#65c4aa;font-weight:700;padding-left:0.15rem;font-size:0.32rem
}
.clt-submit {
    width:2.5rem;height:0.94rem;background-color:#7DC2AB;font-size:0.34rem;position:absolute;right:0;color:white;text-align:center;line-height:0.94rem
}
