.hdt-t-w {
    display:flex;flex-direction:row;justify-content:center;align-items:center;height:0.9rem;width:7.5rem;background-color:#f6f7f7;position:relative;border-bottom:0.01rem solid #e6e6e6;
}
.hdt-title {
    color:#2d2d34;font-size:0.36rem
}
.hdt-back {
    position:absolute;top:0.25rem;left:0.25rem;text-decoration:none
}
.hdt-back-pic {
    width:0.29rem;height:0.34rem
}
.hdt-share {
    position:absolute;top:0.25rem;right:0.25rem;
}
.hdt-share-pic {
    width:0.4rem;height:0.36rem
}
.hdt-hart {
    position:absolute;top:0.25rem;right:0.8rem;
}
.hdt-hart-pic {
    width:0.5rem;height:0.39rem
}