.bcm_wrap {
    width:7.5rem;position:relative;display:flex;justify-content:center;align-items:center;font-size:0.26rem;color:#3f3f45
}
.bcm_out {
    width:6.45rem;height:10.66rem;border:0.02rem solid black;display:flex;justify-content:center;align-items:center
}